<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loginCL</servlet-name>
        <servlet-class>com.lyu.controller.loginCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseCL</servlet-name>
        <servlet-class>com.lyu.controller.CourseCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCourse_jsp</servlet-name>
        <servlet-class>testView.showCourse_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerLoginCL</servlet-name>
        <servlet-class>com.lyu.controller.managerLoginCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postCL</servlet-name>
        <servlet-class>com.lyu.controller.postCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sighupCL</servlet-name>
        <servlet-class>com.lyu.controller.sighupCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCourses</servlet-name>
        <servlet-class>com.lyu.controller.showCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goFriends</servlet-name>
        <servlet-class>com.lyu.controller.goFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goBlackboard</servlet-name>
        <servlet-class>com.lyu.controller.goBlackboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goComment</servlet-name>
        <servlet-class>com.lyu.controller.goComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myCommentCL</servlet-name>
        <servlet-class>com.lyu.controller.myCommentCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goMyMajorStudents</servlet-name>
        <servlet-class>com.lyu.controller.goMyMajorStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goChat</servlet-name>
        <servlet-class>com.lyu.controller.goChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatCL</servlet-name>
        <servlet-class>com.lyu.controller.chatCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goMyMessage</servlet-name>
        <servlet-class>com.lyu.controller.goMyMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEmail</servlet-name>
        <servlet-class>com.lyu.controller.checkEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutCL</servlet-name>
        <servlet-class>com.lyu.controller.logoutCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFriendCL</servlet-name>
        <servlet-class>com.lyu.controller.SearchFriendCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentNameCL</servlet-name>
        <servlet-class>com.lyu.controller.StudentNameCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goManagerCourse</servlet-name>
        <servlet-class>com.lyu.controller.goManagerCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goCommentForManager</servlet-name>
        <servlet-class>com.lyu.controller.goCommentForManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goRemoveComment</servlet-name>
        <servlet-class>com.lyu.controller.goRemoveComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goStudentForManager</servlet-name>
        <servlet-class>com.lyu.controller.goStudentForManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goRemoveStudent</servlet-name>
        <servlet-class>com.lyu.controller.goRemoveStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginCL</servlet-name>
        <url-pattern>/loginCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseCL</servlet-name>
        <url-pattern>/CourseCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCourse_jsp</servlet-name>
        <url-pattern>/showCourse_jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerLoginCL</servlet-name>
        <url-pattern>/managerLoginCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postCL</servlet-name>
        <url-pattern>/postCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sighupCL</servlet-name>
        <url-pattern>/sighupCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCourses</servlet-name>
        <url-pattern>/showCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goFriends</servlet-name>
        <url-pattern>/goFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goBlackboard</servlet-name>
        <url-pattern>/goBlackboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goComment</servlet-name>
        <url-pattern>/goComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myCommentCL</servlet-name>
        <url-pattern>/myCommentCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goMyMajorStudents</servlet-name>
        <url-pattern>/goMyMajorStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goChat</servlet-name>
        <url-pattern>/goChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatCL</servlet-name>
        <url-pattern>/chatCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goMyMessage</servlet-name>
        <url-pattern>/goMyMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEmail</servlet-name>
        <url-pattern>/checkEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutCL</servlet-name>
        <url-pattern>/logoutCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFriendCL</servlet-name>
        <url-pattern>/SearchFriendCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentNameCL</servlet-name>
        <url-pattern>/StudentNameCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goManagerCourse</servlet-name>
        <url-pattern>/goManagerCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goCommentForManager</servlet-name>
        <url-pattern>/goCommentForManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goRemoveComment</servlet-name>
        <url-pattern>/goRemoveComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goStudentForManager</servlet-name>
        <url-pattern>/goStudentForManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goRemoveStudent</servlet-name>
        <url-pattern>/goRemoveStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
