

a{
    color:gray;
    text-decoration: none;
    
}

.div1{
    font-size: 50px;
    color:gray;
    margin-left:60px;
    margin-top: 1px;
    
    
}

.div2{
    
    color:white;
    margin-top:20px;
    margin-left: 350px;
    width: 600px;
    height:100px;
    float:left;
    
    
}

.div3{
    font-size: 22px;  
    width: 180px;
    height: 40px;
    margin-left: 20px;
    margin-top: 30px;
    float:top;
    
}

.login{
    font-size: 30px;  
    width: 180px;
    height: 40px;
    margin-left: 20px;
    margin-top: 30px;
    float:top;
}
.div4{
    font-size: 16px;
    margin-left: 220px; 
    
}

.div5{
    position: absolute;
    left:740px;
    top:150px;
    width:600px;
    height:700px;
  
}

.div6{
    
    font-size: 40px;
    
    width:450px;
    height:60px;
    color:gray;
    
}

.div7{
    width:450px;
    height:60px;
    font-size: 25px;
    color:gray;
    text-align: left;
}

.div8{
    margin-left: 50px;
}



.div9{
    margin-left: 50px;
    margin-top: 30px;
}


.intro{
    position:absolute;
    left: 50px;
    top: 180px;
    width:500px;
    height:700px;
}

.flower{
    position:absolute;
    
    top:900px;
}